p.Gasto {
    font-size: 24px; /* Cambia el tamaño del texto a 24 píxeles */
    color: #008000; /* Cambia el color del texto a verde oscuro (#008000) */
}

a.Link {
    font-size: 24px; /* Cambia el tamaño del texto a 24 píxeles */
    color: #008000; /* Cambia el color del texto a verde oscuro (#008000) */
}
